body {
    background-image: url("https://wallpaper.dog/large/10812307.jpg");
}
.container{
    text-align: center;
}
.calculator {
    display: inline-block;
    border: 8px solid black;
    background-color: #38b1cd;
    box-shadow: 10px 10px #0a0909;
}
table{
     align-items: center;
     margin: 24px;
}
button{
    font-size: 30px;
    height: 56px;
    width: 71px;
    cursor: pointer;
}
#display {
    height: 47px;
    width: 18rem;
    margin-top: 20px;
    padding: 1rem;
    font-size: 2.3rem;
}
.symbols{
    background-color:  #ffce61;
}
.symbols1{
    background-color:  #c90808;
}


.ocean { 
  height: 0%;
  width:10%;
  position:absolute;
  bottom:0;
  left:0;
  top: 700px;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }

}
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }